@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-accent: #5e63ff;
  --color-text: #e6e6ef;
  --color-hover: #222533;
  --color-line: #42434a;
  --color-base: #11121a;
  --color-text-secondary: #b0b3c1;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

html {
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background-color: var(--color-base);
  color: var(--color-text);
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: 
  "sidebar main"
  "side footer";
}

#sidebar {
  height: 100vh;
  padding: 10px 20px;
  max-width: 250px;
  border-right: 1px solid var(--color-line);
  background-color: var(--color-hover);
  position: sticky;
  top: 0;
  align-self: start;
  text-wrap: nowrap;
  overflow: hidden;
  transition: all 0.3s;

  > ul > li:first-child {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;

    .brand {
      font-weight: 700;
    }

    #toggle-btn {
      margin-left: auto;
      padding: 12px; 
      border-radius: 10px;

      svg {
        transition: rotate 0.2s;
      }
    }

    #toggle-btn:hover {
      background-color: var(--color-hover);
    }
  }

  ul {
    list-style: none;

    li.active {
      a {
        color: var(--color-accent);

        svg {
          fill: var(--color-accent);
        }
      }
    }
  }

  a, .dropdown-btn, .brand {
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: var(--color-text);
  }

  .dropdown-btn {
    width: 100%;
    font: inherit;
    text-align: left;
  }

  svg {
    fill: var(--color-text);
    flex-shrink: 0;
    transition: 0.3s;
  }

  .rotate svg:last-child {
    rotate: 180deg;
  }

  a span, .dropdown-btn span {
    flex-grow: 1;
  }

  a:hover, .dropdown-btn:hover {
    background-color: var(--color-hover);
  }

  .sub-menu {
    display: grid;
    grid-template-rows: 0fr;
    transition: 0.7s;

    a {
      padding-left: 32px
    }

    > div {
      overflow: hidden;
    }
  }

  .sub-menu.show {
    grid-template-rows: 1fr;
  }
}

#sidebar.close {
  padding: 5px;
  max-width: 50px;
  width: 100%;
} 

main {
  padding: min(30px, 10%);
}

main p {
  color: var(--color-text-secondary);
  margin: 5px 0 15px 0;
}

.container {
  border: 1px solid var(--color-line);
  border-radius: 15px;
  margin-bottom: 20px;
  padding: min(20px, 15%);

  h2, p {
    margin-top: 16px;
  }
}

@media (max-width: 768px) {
  body {
    grid-template-columns: 1fr;
    font-size: 14px;
  }

  main,
  .container {
    padding: 10px;
  }

  #sidebar {
    padding: 0;
    height: 60px;
    width: 100%;
    max-width: 100%;
    border-right: none;
    border-top: 1px solid var(--color-line);
    position: fixed;
    top: unset;
    bottom: 0;
    display: flex;
    justify-content: center;

    > ul {
      padding: 0;
      display: grid;
      grid-auto-columns: 60px;
      grid-auto-flow: column;
      align-items: center;
      overflow-x: scroll;
    }

    ul a, 
    ul .dropdown-btn {
      width: 60px;
      height: 60px;
      padding: 0;
      justify-content: center;
      border-radius: 0;
    }

    ul li span,
    ul li:first-child,
    .dropdown-btn svg:last-child {
      display: none;
    }

    ul li .sub-menu.show {
      position: fixed;
      bottom: 60px;
      left: 0;
      height: 60px;
      width: 100%;
      background-color: var(--color-hover);
      border-top: 1px solid var(--color-line);
      display: flex;
      justify-content: center;

      > div {
        overflow-x: auto;
      }

      li {
        display: inline-flex;
      }

      a {
        padding: 16px;
        width: auto;
        justify-content: center;
      }
    }
  }
}

@media (max-width: 500px) {
  body {
    font-size: 10px;
  }
}

/* Faqs Accordian */
.wrapper {
  max-width: 800px;
  margin: 10% auto;

  h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
  }

  .faq {
    padding: 10px 20px;
    overflow: hidden;

    &:not(:last-child) {
      border-bottom: 1px solid #333;
      margin-bottom: 5px;
    }

    .question {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background-color: #333;
        border-radius: 5px;
      }

      h2 {
        max-width: 700px;
      }
    }

    .answer {
      line-height: 1.7;
      max-height: 0;
      overflow: hidden;
      transition: 0.3s;
    }

    .answer.active {
      padding: 10px 20px;
    }

    .icon {
      width: 20px;
      height: 20px;
      fill: #fff;
      transition: 0.3s;
    }
  }
}

/* Scroll To Top */
#scroll-to-top {
  width: 50px; 
  height: 50px;
  background-color: var(--color-accent);
  color: var(--color-text);
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
}

/* Timer */
.timer-wrapper {
  max-width: 500px;
  margin: 50px auto 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;

  h3 {
    font-size: 48px;
    text-align: center;

    @media (max-width: 768px) {
      font-size: 32px;
    }
  }

  .timer__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120%;
  }

  .timer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 60px;
    }

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 40px;
    }
  }

  button {
    color: var(--color-text);
    font-size: 18px;
    padding: 10px 20px;
    border: 1px solid #333;
    border-radius: 15px;
    background-color: var(--color-accent);
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: transparent;
      color: var(--color-text);
      border: 1px solid var(--color-text);
    }
  }
}

dialog {
  background-color: var(--color-text);
  padding: 50px;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  width: 90%;
}

dialog::backdrop {
  filter: blur(5%);
  background-color: (255, 255, 255, 0.5);
}

.dialog__container {
  position: relative;
  padding: 20px;
}

.dialog__close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.dialog__close i {
  font-size: 24px;
  color: #333;
  transition: 0.3s;
}

.dialog__close:hover i {
  color: #007bff;
}

form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 15px 20px;
  background-color: var(--color-text);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form label {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-hover);
}

form input[type="number"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
}

form input[type="number"]:focus {
  outline: none;
  border-color: var(--color-accent);
}

form input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
}

#timer__button--close {
  grid-column: span 2;
  font-size: 16px;
  padding: 10px 20px;
  background-color: var(--color-accent);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#timer__button--close:hover {
  background-color: var(--color-base);
  color: var(--color-text);
}

@media (max-width: 600px) {
  dialog {
    width: 90%;
    padding: 20px;
  }

  form {
    grid-template-columns: 1fr;
  }

  .dialog__close i {
    font-size: 20px;
  }
}


/* Tab Navigation */
.tab-navigation {

  /* position: relative; */

  .tab-btn {
    padding: 10px 20px;
    border: 1px solid var(--color-text);
    border-radius: 5px;
    color: var(--color-text);
    transition: 0.3s;

    &:hover {
      background-color: var(--color-text);
      color: var(--color-base);
    }

    &.active {
      background-color: var(--color-text);
      color: var(--color-base);
    }
  }
}

.tab-navigation__content {
  opacity: 0;
  visibility: hidden;
  padding: 0;
  margin-top: 0;
  height: 0;
  border: 1px solid var(--color-line);
  border-radius: 15px;
  transition: opacity 0.5s, margin-top 0.5s, padding 0.3s;

  p {
    color: var(--color-text-secondary);
  }
  
  &.active {
    height: auto;
    margin-top: 20px;
    padding: 10px 20px;
    opacity: 1;
    visibility: visible;
  }
}